<template>
  <p>
  {{produit}}
  <button v-if="role==='command'" v-on:click="passer_commande(produit)">Commander</button>
  <button v-if="role==='recap'" v-on:click="enlever_command(produit)">X</button>
  </p>
</template>

<script>
export default {
  name: 'FicheProduit',
  props: {
    produit: String,
    role: String
  },
  methods: {
    passer_commande: function(produit){
      this.$emit('commande-passee', produit);
    },
    enlever_command: function(produit){
      this.$emit('commande-enlevee', produit);
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
