<template>
  <div id="app">
    <div class="row">
      <p>Vous êtes connecté en tant que {{ user }}</p>
      <input type="text" v-model="user" />

      <FicheProduit v-bind:role="'command'" v-on:commande-passee="commander(produit)" v-bind:produit="produit" v-for="produit in produits" v-bind:key="produit"></FicheProduit>

      <FicheProduit v-bind:role="'recap'" v-bind:produit="command" v-for="command in commandes" v-bind:key="command"></FicheProduit>

    </div>
  </div>
</template>

<script>

import FicheProduit from './components/FicheProduit.vue'

export default {
  name: 'App',
  components: {
    FicheProduit
  },
  data : ()=>({
    user: "Bertrand",
    produits: ["Pizza", "Hamberger"],
    commandes: [],
    affichage: "display"
  }),
  methods : {
    commander: function(produit){
      this.commandes.push(produit);
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
